<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RAFFI STUDIO</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="assets/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="assets/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
	<!--Color used: ed431f, maincolor-c3c3c3, border-color-5a5959-->

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <img class="navbar-brand page-scroll" src="assets/rp.png" alt="logo"/>
                <a class="navbar-brand page-scroll" href="#page-top"><b>RAFFI STUDIO</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">RAFFI STUDIO</h1>
                <hr>
                <p>Every picture has a story. Every photographer is a visual storyteller. It is through these stories that people are inspired.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">BEHIND THE LENS</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">BEHIND THE LENS</h2>
                    <hr class="light">
                    <p class="text-faded">Every picture has a story. Every photographer is a visual storyteller. It is through these stories that people are inspired. Inspiration sparks imagination. Imagination sparks creation. Creation leaves a legacy that inspires the same creative cycle to repeat itself. Without this cycle, we are not living, we are merely surviving. In today’s technological world, the organic essence of life experience seems to be vanishing virtually before our eyes. Life is not meant to be experienced vicariously. My hope is that by sharing my images, they will inspire actual adventure, awareness, and empathy.</p>

					<p class="text-faded">Through my photography I intend to share the beauty of the places I visit, the character of the people I encounter, and ultimately help my clients achieve their vision. My on-going mission is to explore the limits of the camera, to constantly strive for new solutions and ultimately to create images that inspire, provoke thought, evoke emotion, and rekindle the natural spirit.</p>
					<hr class="light">
					<p class="text-faded"><em>Thank you for taking this journey with me today.</em></p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">@LIVINGPHOTO</a>
                </div>
            </div>
        </div>
    </section>

    <!--<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2017
                                </div>
                                <div class="project-name">
                                    New York, NY
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2016
                                </div>
                                <div class="project-name">
                                    San Francisco, CA
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2016
                                </div>
                                <div class="project-name">
                                    San Francisco, CA
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2016
                                </div>
                                <div class="project-name">
                                    Washington D.C.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/7.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/7.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2016
                                </div>
                                <div class="project-name">
                                    Washington D.C.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2016
                                </div>
                                <div class="project-name">
                                    Washington D.C.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2015
                                </div>
                                <div class="project-name">
                                    Toccoa, GA
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/8.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/8.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2015
                                </div>
                                <div class="project-name">
                                    Toccoa, GA
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="assets/portfolio/fullsize/9.jpg" class="portfolio-box">
                        <img src="assets/portfolio/thumbnails/9.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    2014
                                </div>
                                <div class="project-name">
                                    Rockville, MD
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <!--<h2>Free Download at Start Bootstrap!</h2>-->
                <a href="https://www.flickr.com/photos/rufaelseyum/" target="_blank" class="btn btn-default btn-xl sr-button">VIEW MORE on flickr</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Keep In Touch</h2>
                    <hr class="primary">
                    <p>Get a daily update by following me on instgram.<br> Yes, I do follow back :)</p>
                    <hr class="primary">
                    <div class="call-to-action"><a href="http://instagram.com/livingphoto" target="_blank" class="btn btn-default btn-xl sr-button">@livingphoto</a></div>
                </div>   
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="assets/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="assets/scrollreveal.min.js"></script>
    <script src="assets/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="assets/creative.min.js"></script>

</body>

</html>
